# Generated for conan_package_tools==0.35.1 conan==1.36.0
appdirs==1.4.4
bottle==0.12.19
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
conan==1.36.0
conan-package-tools==0.35.1
deprecation==2.0.7
distlib==0.3.1
distro==1.5.0
fasteners==0.16
filelock==3.0.12
future==0.18.2
idna==2.10
importlib-metadata==3.10.1
Jinja2==2.11.3
MarkupSafe==1.1.1
node-semver==0.6.1
packaging==20.9
patch-ng==1.17.4
pluginbase==1.0.0
Pygments==2.9.0
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
tabulate==0.8.9
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.25.11
virtualenv==20.4.3
zipp==3.4.1
